@* Usando o _ViewImports para importar as NameSpaces *@
@model Pergunta


@{ 
    Layout = "_Layout";
}
 

   <h1>Home</h1>
    @* Usando ViewBag e ViewData *@
   <p>ViewBag @ViewBag.Nome</p>
   <p>ViewData @ViewData["Nome"]</p>
    <p>Twitter @@jeffaraujo</p>
    <img src="~/Images/Muv.jpg" />
<p>@Model.ID</p>
<p>@Model.Descricao</p>
<p>@Model.Autor</p>

